/* Link di navigazione */
.nav-link-custom {
  font-weight: 600;
  color: #003366; /* Blu scuro per un testo elegante e professionale */
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Hover per i link */
.nav-link-custom:hover {
  background-color: #ffcc0063; /* Giallo brillante per l'hover */
  color: #003366; /* Colore blu scuro per mantenere il contrasto */
  transform: scale(1.05); /* Leggera espansione al passaggio del mouse */
}

/* Dropdown */
.navbar .dropdown-menu {
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-item-custom {
  font-weight: 600;
  color: #003366;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.dropdown-item-custom:hover {
  background-color: #ffcc0063;
  color: #003366;
  transform: scale(1.05);
}

/* Pulsanti */
.nav-btn {
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 40px;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 2px solid #003366; /* Blu scuro per il bordo */
  color: #003366; /* Blu scuro per il testo */
}

.nav-btn:hover {
  background-color: #0080ff; /* Blu scuro per l'hover */
  color: #ffffff; /* Colore bianco per contrastare */
  transform: scale(1.1);
}

/* Toast */
.custom-toast-container {
  z-index: 1050;
}

/* Testo della Navbar */
.navbar-text {
  font-size: 1.1rem;
  color: #003366; /* Colore blu scuro per i testi */
}
